In [ ]:
 x='I am learning Python!'
print(x)
temp=21
print(temp)
y='typ zmiennej temp to: '
print(y, type(temp))
z='I am not being "ironic".'
print(z)

In [ ]:
h=60
m=60
d=24
seconds_per_hour=h*m
print('Sekund w godzinie:', seconds_per_hour)
seconds_per_day=h*m*d
print('Sekund w dniu:', seconds_per_day)
dzielenie= seconds_per_day / seconds_per_hour
print('Ile godzin jest w dniu:', dzielenie)
x='october'
y=2021
print(x, y)
print(type(x))
print(type(y))
z=x + ' ' + str(y)
print(z)
print(type(z))

Sekund w godzinie: 3600
Sekund w dniu: 86400
Ile godzin jest w dniu: 24.0
october 2021
<class 'str'>
<class 'int'>
october 2021
<class 'str'>

In [ ]:
lista = ['car', 'bike', 'bus']
print(lista)
print(lista[0])
print(lista[1])
print(lista[2])
print('Liczba elementow w liscie:', len(lista))
lista.append('train')
lista.insert(-2, 'motorcycle')
print(lista)
print('Liczba elementow w liscie:', len(lista))
lista.remove('bike')
print(lista)
print(lista[1:2])
print('ship' in lista)
print(lista[0:-1])

['car', 'bike', 'bus']
car
bike
bus
Liczba elementow w liscie: 3
['car', 'bike', 'motorcycle', 'bus', 'train']
Liczba elementow w liscie: 5
['car', 'motorcycle', 'bus', 'train']
['motorcycle']
False
['car', 'motorcycle', 'bus']

In [ ]:
pl2en= {'pies': 'dog', 'kot': 'cat', 'krowa': 'cow'}
print(pl2en)
print(pl2en['kot'])
pl2en['mysz']='mouse'
print(pl2en)
del pl2en['pies']
print(pl2en)

{'pies': 'dog', 'kot': 'cat', 'krowa': 'cow'}
cat
{'pies': 'dog', 'kot': 'cat', 'krowa': 'cow', 'mysz': 'mouse'}
{'kot': 'cat', 'krowa': 'cow', 'mysz': 'mouse'}

In [ ]:
a=10

if a <5: print('NZ')
elif a>5 and a<10: print('Z')
else: print('Z!')

Z!

In [ ]:
for x in [3, 5, 4]:
    print('liczba', x)

liczba 3
liczba 5
liczba 4

In [ ]:
kolory = ["red", "blue", "green"]
for kolor in kolory:
    print(kolor)

red
blue
green

In [ ]:
# Kiedy będziemy chcieli wyświetlić zakres liczb, dostaniemy "dziwny" wynik:
print(range(4))
# Output: "range(0, 4)" informuje nas o tym, jaki iterator został stworzony, a nie o wszystkich jego elementach.
print("Wyświetlmy wszystkie elementy range(4): ")
for i in range(4):
    print(i)
# Zobaczmy dwa inne przykłady:
print("Wyświetlmy wszystkie elementy range(2, 10, 2): ")
for i in range(2, 10, 2):
    print(i)

print("Wyświetlmy wszystkie elementy range(0, -11, -3): ")
for i in range(0, -11, -3):
    print(i)

range(0, 4)
Wyświetlmy wszystkie elementy range(4):
0
1
2
3
Wyświetlmy wszystkie elementy range(2, 10, 2):
2
4
6
8
Wyświetlmy wszystkie elementy range(0, -11, -3):
0
-3
-6
-9

In [ ]:
for i in range(0,5):
    print('hello world', i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [ ]:
for i in range(1,6,2):  
    print(i)

1
3
5

In [ ]:
print(type([(3,4), (4,3), (5,5)]))
for i in [(3,4), (4,3), (5,5)]:
    print(type(i))
    print(i)

<class 'list'>
<class 'tuple'>
(3, 4)
<class 'tuple'>
(4, 3)
<class 'tuple'>
(5, 5)

In [ ]:
for (a, b) in [(3,4), (4,3), (5,5)]:
    print('a', a, '-- b:', b)
    if a < b:
        print('a mniejsze od b')
    if a > b:
        print('a większe od b')
    else:
        print('a równe b')

a 3 -- b: 4
a mniejsze od b
a równe b
a 4 -- b: 3
a większe od b
a 5 -- b: 5
a równe b

In [ ]:
accusation = {'room': 'ballroom', 'weapon': 'lead pipe','person': 'Col. Mustard'}
for card in accusation.keys(): 
    print(card)
for card in accusation.values(): 
    print(card)
for card in accusation.items(): 
    print(card)

room
weapon
person
ballroom
lead pipe
Col. Mustard
('room', 'ballroom')
('weapon', 'lead pipe')
('person', 'Col. Mustard')

In [ ]:
for (a) in [(3),(5),(10)]:
    if a <5: print('NZ')
    elif a<10: print('Z')
    else: print('Z!')

NZ
Z
Z!

In [ ]:
while True:
    stuff = input("String to capitalize [type q to quit]: ") 
    if stuff == "q":
        break

In [ ]:
k = 0
while True:
    k += 1
    print(k)
    if k > 4:
        break

1
2
3
4
5

In [ ]:
k = 1
while True:
    k += 1
    if k %2==1: print(k)
    if k>9: break

3
5
7
9

In [ ]:
k = -10
while True:
    k += 1
    print(k)
    if k>-2: break

-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
zwierzeta = ['dog', 'pig', 'eagle', 'dog']
samochody = ['audi', 'bmw', 'lamborghini', 'ferrari', 'mercedes']

In [ ]:
for animal, car in zip(zwierzeta, samochody):
    print(animal, car)

dog audi
pig bmw
eagle lamborghini
dog ferrari

In [ ]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
print(list(zip(english, french)))
dict(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [ ]:
dict(zip(samochody, zwierzeta))

{'audi': 'dog', 'bmw': 'pig', 'lamborghini': 'eagle', 'ferrari': 'dog'}

In [ ]:
for i, animal in enumerate(zwierzeta):
    if animal == 'dog':
        print(i, animal)

0 dog
3 dog

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list3 = [0, 0, 0, 0]
for i in [0, 1, 2, 3]:
    print(list1[i])
    print(list2[i])
    list3[i] = list1[i]*list2[i]
    i= i + 1
print(list3)

10
100
20
200
30
300
40
400
[1000, 4000, 9000, 16000]

In [ ]:
number_list = []
for number in range(1, 6): 
    number_list.append(number) 
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
number_list = [number for number in range(1,6)]
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
lista1 = list(range(5))
print([x**2 for x in lista1])
# Możemy wykonać tę operację np tylko dla liczb parzystych.
print([x**2 for x in lista1 if x%2==0])
# Nasza operacja może być więcej niż jednoargumentowa
lista2 = list(range(2,12,2))

print([x*y for (x,y) in zip(lista1,lista2)])

[0, 1, 4, 9, 16]
[0, 4, 16]
[0, 4, 12, 24, 40]

In [ ]:
number_list = [number for number in range(1,11)]
print(number_list)
number_list2 = [number for number in range(1,11)]
print(number_list2)
for i in range(len(number_list)):
    number_list2[i] = number_list[i] + 2
    print(number_list[i])
    print(number_list2[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
3
2
4
3
5
4
6
5
7
6
8
7
9
8
10
9
11
10
12

In [ ]:
number_list = [number for number in range(1,11)]
print(number_list)
number_list2 = [number for number in range(1,11)]
number_list3 = [number for number in range(1,11)]
print(number_list2)
for i in range(len(number_list)):
    number_list2[i] = number_list[i] + 2
    if     number_list2[i]<5: 
        number_list3[i] = number_list2[i]
    else :
        number_list3[i] = number_list2[i]/2
print(number_list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0]

In [ ]:
number_list = []
for number in range(1, 6): 
    if number %2==1:
        number_list.append(number) 
print(number_list)

[1, 3, 5]

In [ ]:
number_list = [number for number in range(0,11)]
print(number_list)
number_list2 = [number for number in range(0,11)]

print(number_list2)
for i in range(len(number_list)):
    number_list2[i] = number_list[i]*number_list[i]
print(number_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#{ key_expression : value_expression for expression in iterable }

word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [ ]:
a_set = {number for number in range(1,6) if number % 3 == 1}
print(a_set)

{1, 4}

In [ ]:
def do_nothing():
    pass
do_nothing()

In [ ]:
# function to do nothing
def do_nothing():
    '''Function to do nothing'''
    pass

In [ ]:
def make_a_sound(): 
    print ('quack')
    
make_a_sound()

quack

In [ ]:
def make_a_sound(): 
    return 'quack'
    
make_a_sound()

'quack'

In [ ]:
sound=make_a_sound()

In [ ]:
sound

'quack'

In [ ]:
def echo(anything):
    print (anything + ' ' + anything)
echo('cool')

In [1]:
def commentary(color):

    if color == 'red':
        return "It's a tomato."
    elif color == "green":
        return "It's a green pepper." 
    elif color == 'bee purple':
        return "I don't know what it is, but only bees can see it." 
    else:
        return "I've never heard of the color " + color + "."
    

commentary('red')

"It's a tomato."

In [2]:
commentary('red')

"It's a tomato."

In [3]:
commentary('blue')

"I've never heard of the color blue."

In [4]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [5]:
menu('beef', 'bagel', 'bordeaux')

{'wine': 'beef', 'entree': 'bagel', 'dessert': 'bordeaux'}

In [9]:
menu(1, bagel, bordeaux)

NameError: name 'bagel' is not defined

In [10]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [11]:
menu('frontenac', 'flan', 'fish')

{'wine': 'frontenac', 'entree': 'flan', 'dessert': 'fish'}

In [12]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [14]:
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [15]:
def emploi (first, second, third):
    return{'first' : first, 'second' : second, 'third' : third}

emploi('Mathemathiques', 'Eco Internationale', 'Gestion')

{'first': 'Mathemathiques', 'second': 'Eco Internationale', 'third': 'Gestion'}

In [22]:
def buggy(arg, result=[]):
    result.append(arg) 
    print(result)

In [23]:
buggy('a')
buggy('a')
buggy('a')
buggy('b')

['a']
['a', 'a']
['a', 'a', 'a']
['a', 'a', 'a', 'b']

In [24]:
def nonbuggy(arg, result=None):
    if result is None:
        result = [] 
    result.append(arg) 
    print(result)

In [27]:
nonbuggy('a')
nonbuggy('a')
nonbuggy('b')

['a']
['a']
['b']

In [28]:
def works(arg):
    result = [] 
    result.append(arg) 
    print(result)

In [29]:
works('a')
works('b')

['a']
['b']

In [32]:
def lista_korzysci():
    print('Lepiej zorganizowany kod')
    print('Wieksza czytelnosc kodu')
    
lista_korzysci()

Lepiej zorganizowany kod
Wieksza czytelnosc kodu

In [34]:
def buduj_zdanie(info):
    print(info + ' ' + 'jest zaletą funkcji!')
    
buduj_zdanie('ekspozycja na liberałów')
buduj_zdanie('gis')

ekspozycja na liberałów jest zaletą funkcji!
gis jest zaletą funkcji!

In [35]:
animal = 'fruitbat'
print('at the top level:', animal)

def print_global():
    print('inside print_global:', animal) 
print_global()

at the top level: fruitbat
inside print_global: fruitbat

In [36]:
print('inside change_and_print_global:', animal) 

def change_and_print_global():
    animal='wombat'
    print(id(animal))
    print('after the change:', animal)
change_and_print_global()
print(animal)
print(id(animal))

inside change_and_print_global: fruitbat
2229777489696
after the change: wombat
fruitbat
2229782864624

In [ ]:
def dodaj (co):
    list = []
    list.append(co)
    print(list)

dodaj(x)

NameError: name 'x' is not defined