# Pandas w praktyce

Na poprzadnich zajęciach sprawdziliśmy podstawowe operacje w pakiecie Pandas. Dzisiaj sprawdzimy jak wygląda praca z prawdziwymi danymi.

Będziemy korzystać z datasetu udostępnionego przez Inside Airbnb - projekt oparty na web-scraping (http://insideairbnb.com/)


Aktualne dane dotyczące Londynu: http://data.insideairbnb.com/germany/be/berlin/2023-09-16/data/listings.csv.gz

In [1]:
import pandas as pd
import numpy as np

### Importowanie danych i podstawe atrybuty

Opcja 1: importowania danych przez link

In [2]:
df=pd.read_csv('http://data.insideairbnb.com/germany/be/berlin/2023-09-16/data/listings.csv.gz')

Opcja 2: ściąganie danych i następnie importowanie

In [ ]:
#path=''  #ścieżka do pliku

In [ ]:
#df=pd.read_csv(path)

In [3]:
df.shape

(13134, 75)

In [4]:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3176,https://www.airbnb.com/rooms/3176,20230916061000,2023-09-16,city scrape,Rental unit in Berlin · ★4.63 · 1 bedroom · 2 ...,This beautiful first floor apartment is situa...,The neighbourhood is famous for its variety of...,https://a0.muscache.com/pictures/243355/84afcf...,3718,...,4.69,4.92,4.62,First name and Last name: Nicolas Krotz <br/> ...,f,1,1,0,0,0.85
1,9991,https://www.airbnb.com/rooms/9991,20230916061000,2023-09-16,city scrape,Rental unit in Berlin · ★5.0 · 4 bedrooms · 7 ...,4 bedroom with very large windows and outstand...,Prenzlauer Berg is an amazing neighbourhood wh...,https://a0.muscache.com/pictures/42799131/59c8...,33852,...,5.00,4.86,4.86,03/Z/RA/003410-18,f,1,1,0,0,0.08
2,14325,https://www.airbnb.com/rooms/14325,20230916061000,2023-09-16,city scrape,Rental unit in Berlin · ★4.67 · Studio · 1 bed...,The apartment is located on the upper second f...,NaN,https://a0.muscache.com/pictures/508703/24988a...,55531,...,4.84,4.58,4.42,NaN,f,4,4,0,0,0.16
3,16644,https://www.airbnb.com/rooms/16644,20230916061000,2023-09-16,city scrape,Condo in Berlin · ★4.72 · 1 bedroom · 1 bed · ...,Light and sunny 2-Room-turn of the century-fla...,Our Part of Kreuzberg is just the best. Good v...,https://a0.muscache.com/pictures/73759174/e2ef...,64696,...,4.86,4.67,4.71,NaN,f,2,2,0,0,0.30
4,17904,https://www.airbnb.com/rooms/17904,20230916061000,2023-09-16,city scrape,Rental unit in Berlin · ★4.77 · Studio · 1 bed...,"- apt is available starting April 1, 2023<br /...",NaN,https://a0.muscache.com/pictures/d9a6f8be-54b9...,68997,...,4.92,4.87,4.65,NaN,f,1,1,0,0,1.81

In [5]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [6]:
df.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 75, dtype: object

In [7]:
df.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [8]:
df['review_scores_value'].dtype

dtype('float64')

In [9]:
type(df['review_scores_value'].iloc[0])

numpy.float64

### Indeksowanie, modyfikowanie zawartości, statystyki opisowe

In [10]:
df[['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description']]

,id,listing_url,scrape_id,last_scraped,name,description
0,3176,https://www.airbnb.com/rooms/3176,20230916061000,2023-09-16,Rental unit in Berlin · ★4.63 · 1 bedroom · 2 ...,This beautiful first floor apartment is situa...
1,9991,https://www.airbnb.com/rooms/9991,20230916061000,2023-09-16,Rental unit in Berlin · ★5.0 · 4 bedrooms · 7 ...,4 bedroom with very large windows and outstand...
2,14325,https://www.airbnb.com/rooms/14325,20230916061000,2023-09-16,Rental unit in Berlin · ★4.67 · Studio · 1 bed...,The apartment is located on the upper second f...
3,16644,https://www.airbnb.com/rooms/16644,20230916061000,2023-09-16,Condo in Berlin · ★4.72 · 1 bedroom · 1 bed · ...,Light and sunny 2-Room-turn of the century-fla...
4,17904,https://www.airbnb.com/rooms/17904,20230916061000,2023-09-16,Rental unit in Berlin · ★4.77 · Studio · 1 bed...,"- apt is available starting April 1, 2023<br /..."
...,...,...,...,...,...,...
13129,980347234223276486,https://www.airbnb.com/rooms/980347234223276486,20230916061000,2023-09-16,Rental unit in Berlin · ★New · 1 bedroom · 1 b...,Sleek and Sophisticated Studio Apartments in B...
13130,980356275147560933,https://www.airbnb.com/rooms/980356275147560933,20230916061000,2023-09-16,Rental unit in Berlin · ★New · 1 bedroom · 1 b...,Located in the heart of the trendy neighborhoo...
13131,980363262097573137,https://www.airbnb.com/rooms/980363262097573137,20230916061000,2023-09-16,Rental unit in Berlin · ★New · 1 bedroom · 1 b...,Located in the heart of the trendy neighborhoo...
13132,980607121480836869,https://www.airbnb.com/rooms/980607121480836869,20230916061000,2023-09-16,Rental unit in Berlin · ★New · 2 bedrooms · 2 ...,Let me tell you about all the amenities that a...
13133,981159693242362351,https://www.airbnb.com/rooms/981159693242362351,20230916061000,2023-09-16,Rental unit in Berlin · ★New · 1 bedroom · 1 b...,A home away from home or a quiet place to work...

In [13]:
df.iloc[0]

id                                                                           3176
listing_url                                     https://www.airbnb.com/rooms/3176
scrape_id                                                          20230916061000
last_scraped                                                           2023-09-16
source                                                                city scrape
                                                              ...
calculated_host_listings_count                                                  1
calculated_host_listings_count_entire_homes                                     1
calculated_host_listings_count_private_rooms                                    0
calculated_host_listings_count_shared_rooms                                     0
reviews_per_month                                                            0.85
Name: 0, Length: 75, dtype: object

In [14]:
df['review_scores_value'][156]

4.84

In [15]:
df['review_scores_value'].mean()

4.6303019970774475

In [16]:
df['review_scores_value'].describe()

count    10265.000000
mean         4.630302
std          0.435326
min          0.000000
25%          4.500000
50%          4.720000
75%          4.890000
max          5.000000
Name: review_scores_value, dtype: float64

In [ ]:
df['availability_30']/30

In [ ]:
df['availability_30'].values

In [ ]:
df['availability_%']=df['availability_30']/30*100
df['availability_%']=df['availability_30'].apply(lambda x: x/30*100)
df['availability_%']=[x/30*100 for x in df['availability_30'].values]

In [ ]:
df['availability_%']

In [ ]:
len(df.loc[df['room_type']=='Entire home/apt'])

In [ ]:
df[df['room_type']=='Entire home/apt'].shape

In [ ]:
df[(df['room_type']=='Entire home/apt') & (df['availability_%']>=50)].shape

In [ ]:
df[(df['room_type']=='Entire home/apt') | (df['availability_%']>=50)].shape

In [ ]:
df.groupby(['room_type'])['name'].count()

In [ ]:
df['room_type'].value_counts()

In [ ]:
df.groupby(['room_type'])['availability_%'].mean()

In [ ]:
df.groupby(['room_type'])['availability_%'].median()

In [ ]:
df.groupby(['room_type']).agg({'name':'count', 'minimum_nights': 'median'})

Lista funkcji do agregacji:

- mean(): Compute mean of groups
- sum(): Compute sum of group values
- size(): Compute group sizes
- count(): Compute count of group
- std(): Standard deviation of groups
- var(): Compute variance of groups
- sem(): Standard error of the mean of groups
- describe(): Generates descriptive statistics
- first(): Compute first of group values
- last(): Compute last of group values
- nth() : Take nth value, or a subset if n is a list
- min(): Compute min of group values
- max(): Compute max of group values
+ 
median()

In [ ]:
([10,3])

In [ ]:
df.groupby(['room_type']).agg({'name':'count', 'minimum_nights': [np.median, np.std]})

In [ ]:
df.groupby(['room_type']).agg({'minimum_nights': ['var', 'std']})

### Zadanie

1. Stwórz nową kolumnę "review_scores_value_100" mnożąc review_scores_value z 100
2. Wybierz obserwacje z kategorii "Private room"
3. Policz medianę ze zmiennej 'review_scores_value'
4. Wybierz te obserwacje które mają wyższy review_scores_value od mediany oraz mają kategorię "Private room"
5. Pogrupuj dane na podstawie kolumny 'beds' i przedstaw: liczbę obserwacji, średnią z "availability_%", medianę z "minimum nights"

### Strings

In [ ]:
df['price'].dtype

In [ ]:
df['price'][0]  ###cena jest stringem

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html

In [ ]:
df['price'][0].split('$')

In [ ]:
df['price'][0].split('$')[1]

In [ ]:
df['price']=df['price'].apply(lambda x: x.split('$')[1])

In [ ]:
df['price']

In [ ]:
df['price'][0]+df['price'][1]

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html

In [ ]:
df['price'].str.contains(',') ##sprawdzmy co z przecinkami

In [ ]:
df[df['price'].str.contains(',')==True]['price']

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

In [ ]:
df['price']=df['price'].apply(lambda x: x.replace(',', ''))

In [ ]:
df['price']=df['price'].astype(float)

In [ ]:
df['price'].describe()

In [ ]:
df['name']

In [ ]:
print(df[df['name'].str.contains('Loft')==True].shape)

In [ ]:
print(df[df['description'].str.contains('big')==True].shape)

In [ ]:
print(df[df['description'].str.contains('Big')==True].shape)

In [ ]:
##zmieniamy tekst na małe litery

df['description']=df['description'].apply(lambda x: x.lower())

### Brakujące dane

In [ ]:
df.isna()

In [ ]:
#df[df['description'].isna()==True]

In [ ]:
len(df[df['description'].isna()==False])/len(df)

In [ ]:
df2=df[df['description'].isna()==False]
df2.shape

In [ ]:
df['description']=df['description'].fillna('no info')

In [ ]:
##zmieniamy tekst na małe litery -  już działa

df['description']=df['description'].apply(lambda x: x.lower())

### Zadanie

1. Zmień teksty w kolumnie "name" na małe litery
2. Znajdź obserwacje z słowem "berlin" w "name"

### Daty

In [ ]:
df['last_scraped'][0]

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [ ]:
pd.to_datetime(df['last_scraped'])[0]

In [ ]:
print(pd.to_datetime(df['last_scraped']).min())
print(pd.to_datetime(df['last_scraped']).max())

In [ ]:
df['last_scraped'] = pd.to_datetime(df['last_scraped'])
df['year']=df['last_scraped'].dt.year
df['month']=df['last_scraped'].dt.month

In [ ]:
df[['last_scraped', 'year', 'month']]

In [ ]:
from datetime import timedelta
print(pd.to_datetime(df['last_scraped'][0])+timedelta(days=14))
print(pd.to_datetime(df['last_scraped'][0])+timedelta(hours=14))

### Zadanie

1. Sprawdź zmienną "first review". Przekształć ją na format czasowy
2. Wybierz tylko te obserwacje, które są na rynku od 2013

### Łączenie DataFrame'ów

https://pandas.pydata.org/docs/user_guide/merging.html

##### Łączenie horyzontalne

In [ ]:
df1=df[['id', 'price', 'name']]
df2=df[['description']]

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
pd.concat((df1, df2), axis=1)   #co się dzieję, jeżeli axis=0?

##### Łączenie wertykalne

In [ ]:
df3=df[['id', 'price', 'name']][:500]
df4=df[['id', 'price', 'name']][500:]
print(df3.shape)
print(df4.shape)

In [ ]:
df3.head()

In [ ]:
df4.head()

In [ ]:
pd.concat((df3, df4), axis=0)

Merge: merge pozwala nam łączyć DataFrame'y przez klucza. Domyślną opcją jest inner, czyli łączy tylko po tych wartościach, które występują w danej kolumnie w obu DataFrame'ach

In [ ]:
df1=df[['id', 'price', 'name']]
df2=df[['id', 'description']]

In [ ]:
df1.shape[0]

In [ ]:
df1

In [ ]:
df1.index=range(df.shape[0]+10, df.shape[0]*2+10)

In [ ]:
df1.tail()

In [ ]:
df2.shape

In [ ]:
pd.concat((df1, df2), axis=1)  #nie działa

In [ ]:
pd.merge(df1, df2, on='id')

In [ ]:
df5=df[['id', 'price']][:10]
df6=df[['id', 'name']][3:10]

In [ ]:
df5

In [ ]:
df6

In [ ]:
pd.merge(df5, df6, on='id')

In [ ]:
pd.merge(df5, df6, on='id', how='outer')

### Zadanie

In [ ]:
df1=df[:10]
df2=df[10:15]
df3=df[['id', 'price', 'name']]
df4=df[['id', 'description']]
df5=df[['id', 'price', 'name']].iloc[:10]
df6=df[['id', 'description']].iloc[5:15]

- Połącz df1 z df2
- Połącz df3 z df4
- Połącz df5 z df6 z opcją "outer" oraz "inner"

### Operacje niezwektoryzowane

Jak wiemy po zajęciach z numpy, operacje zwektoryzowane działają szybko. Rzadko, ale możemy chcieć iterować po wierszach jeden-po-jednym. Do tego służy `.iterrows()`.

In [ ]:
for i, row in df[['id', 'listing_url']].iterrows():
    print(i, row)
    if i > 5:
        break

In [ ]:
for i, row in df.iterrows():
    print(row['name'])
    if i > 5:
        break

### Korzystanie z własnych funkcji

In [ ]:
def hosts(row):
    if row['host_listings_count']==1:
        return 1
    elif row['host_listings_count']<4:
        return 2
    else:
        return 3
    
df['host_cat']=df.apply(lambda x: hosts(x), axis=1)

In [ ]:
df['room_type'].unique()

### Zadanie

Stwórz nową zmiennę price_cat, który przyjmuję wartość:
- 1: jeżeli cena jest poniżej 25. percentyli (Q1)
- 2: jeżeli cena jest między 25. percentylą a medianą (Q2)
- 3: jeżeli cena jes pomiędzy medianą o 75. percentylą (Q3)
- 4: jezeli jest powyżej 75. percentylą

### Przykładowy workflow

In [ ]:
table=[]
for i in df['room_type'].unique():
    print(i)
    temp=df[df['room_type']==i]
    listingnumber=len(temp['id'].unique())
    price_med=np.median(temp['price'])
    price_avg=temp['price'].mean()
    st=np.std(temp['price'])
    
    table.append({'type': i,
                'listingnumber': listingnumber,
                  'price_med': price_med,
                  'prive_avg': price_avg,
                  'st':st,
                          }
                         )

In [ ]:
table[0]

In [ ]:
pd.DataFrame(table)